body {
    margin: 0;
    padding: 0;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    height: 100px;
}

.presentacion {
    display: block;
    justify-content:center;
    align-items: center;
}

.Productos-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.productos-items {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
    text-align: center;
    margin: 10px;
}

#contactos {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}